body{
  background-color: rgba(0,0,0);
  color: white;
  
}
.container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#qrcode canvas{
    border: 3px solid grey ;
}
#qrcode img{
    border: 5px solid white;
}